In [ ]:
#1.Find the error in the following Python code:
import math
print(Math.sqrt(16))

In [1]:
# Solution
# M is capital letter in print statement, the correct syntax is 
import math
print(math.sqrt(16))

4.0

In [ ]:
#2.Find the error in the following Python code:
def my_function():
    x += 5
    print(x)

x = 10
my_function()

In [2]:
# solution
# 2nd line we given x +=5 but x value is in the below at the last line so the x +=5 comment is not readable x value. The correct syntax is

def my_function():
    x = 10
    x += 5
    print(x)
my_function()

15

In [ ]:
#3.
x = 5
if x = 10:
    print("x is 10")

In [3]:
# Solution
# here we are comparing the x value with 10, while comparing we should use == but here missed one more = symbol and else statement also missed. The correct syntax is
x = 5
if x == 10:
    print("x is 10")
else:
    print("x is not 10")

x is not 10

In [ ]:
#4.
numbers = [5, 3, 8, 2]
print(numbers.sort())

In [4]:
numbers = [5, 3, 8, 2]
print(sorted(numbers))

[2, 3, 5, 8]

In [ ]:
#5.
def square(n):
    n * n

print(square(4))

In [5]:
#5. Return statement is missed. The correct syntax is
def square(n):
    n * n
    return n*n

print(square(4))

16

In [ ]:
#6.
my_tuple = (1, 2, 3)
my_tuple[1] = 5

In [6]:
# Solution
# tuple wont support replace the value, hence converted to list and replaced 1 place to 5. The syntax is
my_tuple = (1, 2, 3)
tup=list(my_tuple)
tup[1]=5
tup

[1, 5, 3]

In [ ]:
#7.
name = "Alice"
age = 25
print("My name is %s and I am %d years old" % (name))

In [7]:
# Solution
# , symbol is missing at the end of " and % is needed to be removed. The correct syntax is
name = "Alice"
age = 25
print("My name is %s and I am %d years old", (name))

My name is %s and I am %d years old Alice

In [ ]:
#8.
a = [1, 2, 3]
b = [1, 2, 3]
if a is b:
    print("Lists are equal")

In [8]:
# Solution
# While comparing values values should we use == but here using "is". The correct syntax is
a = [1, 2, 3]
b = [1, 2, 3]
if a == b:
    print("Lists are equal")

Lists are equal

In [ ]:
#9.
for i in range(5, 1):
    print(i)

In [9]:
# Solution
# range we given range(5, 1), actually its should be like range(1, 5)
for i in range(1, 5):
    print(i)

1
2
3
4

In [ ]:
#10.
student = {"name": "John", "age": 20}
print(student[name])

In [10]:
# Solution
# '' missing in name. The correct syntax is

student = {"name": "John", "age": 20}
print(student['name'])

John